   <div class="window">
		
      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
			
       		  <div class="toolbar-actions">
					
					{{currentExpanded?.label}}
				<div class="btn-group">
				  <button class="btn btn-default" (click)="uploadFile(currentExpanded)">
					    <span class="icon icon-upload"></span>
				  </button>
          <button class="btn btn-default" (click)="createFolder(currentExpanded)">
            <span class="icon icon-plus"></span>
        </button>
       
        </div>
		</div>
      </header>

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <p-tree class="w-full md:w-30rem" [value]="files"></p-tree>
          </div>

          <div class="pane">
            <app-file-list [dataSource]="files"></app-file-list>
          </div>
        </div>
      </div>
    </div>
 
